# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# IDE and editor files
.idea/*
.idea/
.vscode/

# Logs and temporary files
*.log
*.tmp

# Traces
traces/*
traces/

# OS-specific files
.DS_Store
Thumbs.db